.ui.borderless.topgrid.menu{
  background-color: white;
  box-shadow: none;
  border: none;
}

.ui.toplogo{
  padding-top: 50px;
  width: 225px;
}

.ui.borderless.countrymenu.menu{
  box-shadow: none;
  border: none;
}

.footer-background {
  color: white;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;

}

.image {
  position: relative;
  text-align: center;
  color: white;
}


.cap1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cap2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
